@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Category Management";
   
}

<style>
    .jumbotron{
        background:white;
        color:black;
    }
    .jumbotron h2{
        width: 400px;
        margin:0 auto;
    }
    tbody{
        background: white;

    }
    .wrapper-two{
        margin: 20px;
    }
    table{
        width: 900px!important;
    }
    .category-ref td{
        width: 200px;
    }
    input[type=text]{
        height:30px;
    }
   .multiselect-container{
       width: 200px;
   }
</style>

<div class="container-fluid">
    <header class="jumbotron">
        <h2>Category Management</h2>
    </header>
</div>
<div class="wrapper-one">
    <div class="wrapper-two">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th><th>Description</th><th>IsActive</th><th>Tax Values</th><th>Action</th>
                </tr>
            </thead>
            <tbody class="category-ref">
                
            </tbody>
        </table>
        <input style="margin-left: 40px;" type="button" id="addItem" value="New" class="btn btn-primary" />
        
    </div>
    <script>
        //var selected = [];
        $(function () {
            var options = "";
            function refresh() {
                $.get("getAllCategory", function (data, status) {
                    //console.log(data);
                    var selectedarray = [];
                    data.catlist.forEach(function (data, idx) {
                        console.log(data.TaxList);
                        /*
                        var taxstring = "";
                        for (var i = 0; i < data.TaxList.length;i++) {
                            taxstring += data.TaxList[i].TaxName + " " + data.TaxList[i].TaxValue + "% ";
                            console.log(taxstring);
                        }*/
                       
                        var selectedoption = data.TaxList.map(function (x, idx) {
                            //return "<option selected='selected' value='" + x.TaxID + "'>" + x.TaxName + "</option>";
                            return x.TaxID;
                        });
                        selectedarray.push(selectedoption);
                        var enabled = "Disabled";
                        //<select multiple='multiple' class='selectedtax'></select>
                        if (data.IsActive == true) {
                            enabled = "Enabled";
                        }
                        $(".category-ref").append("<tr id='" + idx + "'><td>" + data.Name + "</td><td>" + data.Description + "</td><td>" + enabled + "</td><td><select id='pre" + idx + "' multiple='multiple' class='selectedtax'></select></td><td><input id='btn" + idx + "' type='button' value='Edit' rel='" + data.CategoryID + "' class='btn btn-primary upd'  /></td></tr>");
                        
                        
                    });
                    options = data.taxlist.map(function (x, idx) {
                        return "<option value='" + x.TaxID + "'>" + x.TaxName + "</option>";
                    }).join("");
                    $(".category-ref .selectedtax").append(options);
                    console.log(selectedarray);
                    $(".category-ref .selectedtax").each(function (index, item) {

                        $(item).val(selectedarray[index]);
                    })
                    //$(".category-ref .selectedtax").append(options);
                    /*
                    $(".category-ref .selectedtax").each(function (index, item) {
                        var options = data.taxlist.map(function (x, idx) {
                            return "<option value='" + x.TaxID + "'>" + x.TaxName + "</option>";
                        }).join("");
                        $(".category-ref .selectedtax").append(options);
                    })*/
                    refreshms();
                    
                    
                });
                
            }
            refresh();
            $("#addItem").click(function () {
                var id = parseInt($(".category-ref").children().last().attr("id"));
                if (isNaN(id)) {
                    id = -1;
                }
                var id = id + 1;
                $(".category-ref").append("<tr class='create' id='" + id + "'><td><input class='form-control' id='name" + id + "' type='text'  /></td><td><input class='form-control' id='description" + id + "' type='text'  /></td><td><input id='isactive" + id + "' type='checkbox' checked='checked' /> IsActive</td><td><select multiple='multiple' id='selected" + id + "' class='selectedtax'>" + options + "</select></td><td><input id='btn" + id + "' type='button' value='Save' class='btn btn-primary Save'  /><input id='inputtype" + id + "' type='hidden' value='insert' /></td></tr>");
                refreshms();
            });
            $("#submit").click(function () {
               
                var catlist = [];
                //console.log($(".selectedtax").val());
                $(".category-ref .create").each(function (index, item) {
                    var id = $(item).attr("id");
                    var selected = "";
                    
                    $(".category-ref #" + id + " td:nth-child(4) .selectedtax + .btn-group .multiselect-container .active input").each(function (ind, item) {
                        
                        if (ind != 0)
                            selected += "," + $(item).val();
                        else {
                            if ($(item).val() !== "multiselect-all")
                                selected += $(item).val();
                        }
                        selected = selected.replace(/^,/, '');
                    });
                    //$(".category-ref #" + id + " td:nth-child(4) #inputtype" + id).val()
                    var obj = { "name": $(".category-ref #" + id + " td:nth-child(1) #name" + id).val(), "Description": $(".category-ref #" + id + " td:nth-child(2) #description" + id).val(), "IsActive": $(".category-ref #" + id + " td:nth-child(3) #isactive" + id).val(), "TaxValues": selected, "InputType": $("#inputtype" + id).val() };
                    console.log(obj);
                    //$(".category-ref #" + id + " td:nth-child(5) .selectedtax option:selected").val()
                    //console.log($(".category-ref #" + id + " td:nth-child(2) #name"+id).val());
                    
                    catlist.push(obj);
                    console.log(obj);
                });
                
                $.post("AddCategory", { catlist }, function (data, status) {

                    $(".category-ref").empty();
                    refresh();
                    
                });
            });
            $(".category-ref").on("click", ".Save", function () {
                //var id = $(this).attr("id").substr(3, 4);
                var id = $(this).attr("id").replace(/^\D+/g, '');
                var rel = $(this).attr("rel");
                var selected = "";
                $(".category-ref #" + id + " td:nth-child(4) .selectedtax + .btn-group .multiselect-container .active input").each(function (ind, item) {

                    if (ind != 0)
                        selected += "," + $(item).val();
                    else {
                        if ($(item).val() !== "multiselect-all")
                            selected += $(item).val();
                    }
                    selected = selected.replace(/^,/, '');
                });
                var checked = $(".category-ref #" + id + " td:nth-child(3) #isactive" + id).is(':checked');
                console.log("checked:"+checked);
                var cat = { "name": $(".category-ref #" + id + " td:nth-child(1) #name" + id).val(), "Description": $(".category-ref #" + id + " td:nth-child(2) #description" + id).val(), "IsActive": checked, "TaxValues": selected, "InputType": $("#inputtype" + id).val() };
                console.log(cat);
                
                $.post("AddCategory", { cat }, function (data, status) {

                    $(".category-ref").empty();
                    refresh();

                });

            });
            $(".category-ref").on("click", ".upd", function () {


                //var id = $(this).attr("id").substr(3, 4);
                var id = $(this).attr("id").replace(/^\D+/g, '');
                var rel = $(this).attr("rel");
                var name = $(".category-ref #" + id + " td:nth-child(1)").html();
                var des = $(".category-ref #" + id + " td:nth-child(2)").html();
                var isactive = $(".category-ref #" + id + " td:nth-child(3)").html();
                
                var checked = "";
                if (isactive == "Enabled") {
                    
                    checked = "checked";
                }
                var selectionarr = [];
                $(".category-ref #" + id + " td:nth-child(4) .selectedtax + .btn-group .multiselect-container .active input").each(function (ind, item) {
                    selectionarr.push($(item).val());
                });


                console.log(selectionarr);
                $(".category-ref #" + id).empty();
                $(".category-ref #" + id).attr("class", "create");
                $(".category-ref #" + id).append("<td><input class='form-control' id='name" + id + "' type='text' value='" + name + "'  /></td><td><input class='form-control' id='description" + id + "' type='text' value='" + des + "'  /></td><td><input id='isactive" + id + "' type='checkbox' "+checked+" value=''  /> Is Active</td><td><select multiple='multiple' id='selected" + id + "' class='selectedtax'>" + options + "</select></td><td><input id='btn" + id + "' type='button' value='Save' rel='" + rel + "' class='btn btn-primary Save'  /><input id='inputtype" + id + "' type='hidden' value='" + rel + "' /></td>");
                $(".category-ref #" + id).attr("class", "create");
                $("#selected" + id).val(selectionarr);
                refreshms();
                
                /*
                var categoryid = $(this).attr("rel");
                $.post("DeleteCategory", { categoryid }, function (data, status) {
                    $(".category-ref").empty();
                    refresh();

                });*/
            });
     
            
        });
        
    </script>
    <script>
        function refreshms(){
            $('.selectedtax').multiselect({

                includeSelectAllOption: true ,

                buttonWidth: '200px',
                buttonText: function (options) {
                if (options.length == 0) {
                    return '0 Selected';
                } else {
                    var selected = 0;
                    options.each(function () {
                        selected += 1;
                    });
                    return selected +  'Selected';
                }
                }
                /*,
                onChange: function (element, checked) {
                    
                    var brands = $('.selectedtax option:selected');
                    selected = [];
                    $(brands).each(function (index, brand) {
                        selected.push([$(this).val()]);
                    });
                    //console.log(selected);
                }
                */
            });
            //$(".ledgerlistNames").multiselect("rebuild");
        
        }

    </script>
    
</div>
