<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table width="100%">

        <tr>
            <td>
                #Name#
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr> 
        <tr>
            <td>
                <b>Invoice Alert</b>
            </td>
        </tr>
        <tr>
            <td>
               The invoice you created/approved for the vendor, "#VendorName#" got #status#. Kindly go through below url for details and take necessary actions.  
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr> 
        <tr>
            <td>
                #URL#
            </td>
        </tr>
    </table>
</body>
</html>