USE [IQInvoiceItem]
GO
/****** Object:  Table [dbo].[ObjectGroups]    Script Date: 17-05-2017 19:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectGroups](
	[ID] [int] NOT NULL,
	[ObjectGroupDescription] [nvarchar](100) NULL
) ON [PRIMARY]

GO
