USE [IQInvoiceItemNew]
GO
/****** Object:  Table [dbo].[ObjectGroups]    Script Date: 03-10-2017 14:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectGroups](
	[ID] [int] NOT NULL,
	[ObjectGroupDescription] [nvarchar](100) NULL
) ON [PRIMARY]

GO
